@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_24pt-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Balsamiq Sans";
  src: url("./assets/fonts/BalsamiqSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kaisei Decol";
  src: url("./assets/fonts/KaiseiDecol-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --main-accent-color: #ffba00;
  --secondary-accent-color: #bb8a52;
  --additional-accent-color: #cc2e2e;
  --main-text-color: #0c3e2e;
  --secondary-text-color: #d9d9d9;
  --main-bg-color: #fbfdf8;
  --secondary-bg-color: #6d9773;

  /* font sizes */
  --fsz-14: 0.875rem;
  --fsz-16: 1rem;
  --fsz-18: 1.125rem;
  --fsz-20: 1.25rem;
  --fsz-22: 1.375rem;
  --fsz-24: 1.5rem;
  --fsz-28: 1.75rem;
  --fsz-36: 2.25rem;
  --fsz-48: 3rem;
  --fsz-96: 6rem;
  --fsz-64: 4rem;
  --fsz-128: 8rem;
  /* line height */

  --lh-normal: 1.2;

  /* font family */
  --main-ff: "Inter", sans-serif;
  --secondary-ff: "Kaisei Decol", sans-serif;
  --additional-ff: "Balsamiq Sans", sans-serif;

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
}
body {
  font-family: var(--main-ff);
  font-size: clamp(
    var(--fsz-16),
    0.8897058823529411rem + 0.49019607843137253vw,
    var(--fsz-18)
  );
  font-weight: var(--fw-medium);
  line-height: var(--lh-normal);
  color: var(--main-text-color);
}
h1,
h2,
h3 {
  font-weight: var(--fw-semibold);
}
h1 {
  font-size: clamp(var(--fsz-28), 8.621vw + -2.388rem, var(--fsz-48));
}
h2 {
  font-size: clamp(var(--fsz-28), 3.448vw + 0.095rem, var(--fsz-36));
}
h3 {
  font-size: clamp(var(--fsz-24), 4.31vw + -0.944rem, var(--fsz-28));
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input,
textarea {
  font: inherit;
}
.wrapper {
  max-width: 1199px;
  width: 94%;
  margin-inline: auto;
}
.desc-text {
  font-weight: var(--fw-semibold);
}
.text-center {
  text-align: center;
}
.text-big {
  font-size: var(--fsz-24);
}
.text-red {
  color: var(--additional-accent-color);
}
.button-primary {
  padding-block: 20px;
  width: 100%;
  display: block;
  font-size: var(--fsz-20);
  background: var(--main-accent-color);
  border: 1px solid transparent;
  text-decoration: none;
  text-align: center;
  color: inherit;
  cursor: pointer;
  transition: border-color 0.5s ease-in-out;

  &:hover {
    border-color: var(--main-text-color);
  }
}
.button-primary-small {
  @media (min-width: 500px) {
    width: 345px;
  }
  @media (min-width: 62.5em) {
    width: 250px;
  }
}
.tell {
  color: var(--secondary-accent-color);
  font-size: var(--fsz-18);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-padding {
  padding-block-end: 50px;
  @media (min-width: 767px) {
    padding-block-end: 90px;
  }
  @media (min-width: 999px) {
    padding-block-end: 100px;
  }
  @media (min-width: 1599px) {
    padding-block-end: 150px;
  }
}
.section-title {
  margin-block-end: 20px;

  @media (min-width: 999px) {
    margin-block-end: 30px;
  }

  @media (min-width: 1599px) {
    margin-block-end: 50px;
  }
}
.section-text {
  font-size: var(--fsz-14);

  @media (min-width: 767px) {
    font-size: var(--fsz-24);
  }
  @media (min-width: 999px) {
    font-size: var(--fsz-28);
  }
  @media (min-width: 1599px) {
  }
}
.accent-font {
  font-family: var(--additional-ff);
  font-size: var(--fsz-20);
  font-size: clamp(
    var(--fsz-20),
    1.1091549295774648rem + 0.6259780907668232vw,
    var(--fsz-24)
  );
}
/* header */
.header {
  background: url("./src/assets/images/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block-start: 10px;
  @media (min-width: 768px) {
    min-height: 160px;
  }
  @media (min-width: 1000px) {
    min-height: 203px;
    padding-block-start: 30px;
  }
  @media (min-width: 1500px) {
    min-height: 240px;
    padding-block-start: 30px;
  }

  @media (min-width: 2000px) {
    min-height: 310px;
  }
}
.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
.header-logo {
  grid-row: 2;
  grid-column: 1 / -1;
  justify-self: center;
  @media (min-width: 768px) {
    grid-column: 2;
    grid-row: 1;
  }
  @media (min-width: 1000px) {
    grid-column: 1;
    justify-self: flex-start;
  }
}
.header-tell {
  grid-column: 2;
  text-wrap: nowrap;
  justify-self: flex-end;
  margin-block-start: 7px;
  @media (min-width: 768px) {
    grid-column: 3;
  }
  @media (min-width: 1000px) {
    margin-block-start: 0;
  }
}
.menu-open {
  width: 40px;
  height: 25px;
  position: absolute;
  border: none;
  background: transparent;

  &:before,
  &:after {
    content: "";
  }

  &:before,
  &:after,
  span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main-text-color);
    position: relative;
    left: 0;
    transition: all 0.5s ease-in-out;
  }
  &:before {
    top: 0;
  }
  &:after {
    top: 23px;
  }
  span {
    top: 12px;
  }

  @media (min-width: 1000px) {
    display: none;
  }

  &.active-menu {
    span {
      display: none;
    }
    &:before {
      transform: rotate(45deg);
      top: 10px;
    }
    &:after {
      transform: rotate(-45deg);
      top: 10px;
    }
  }
}
/* nav */
.nav-link {
  font-size: var(--fsz-16);
  text-transform: uppercase;
  text-wrap: nowrap;
  transition: color 0.5s ease-in-out;

  &:hover {
    color: var(--secondary-accent-color);
  }
}
.header-nav {
  position: absolute;
  left: -200%;
  opacity: 0;
  transition: left 0.5s ease-in-out;
  @media (min-width: 1000px) {
    position: relative;
    left: 0;
    opacity: 1;
    grid-column: 2;
    grid-row: 1;
  }

  &.active {
    left: 0;
    opacity: 1;
    position: absolute;
    background: var(--secondary-bg-color);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 150px;

    @media (min-width: 768px) {
      top: 90px;
    }

    .header-nav-menu {
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
      padding-block-start: 50px;
    }
  }
}
.header-nav-menu {
  @media (min-width: 999px) {
    display: flex;
    gap: 30px;
  }
}
/* hero */
.hero {
  padding-block-start: 8px;
  padding-block-end: 50px;
  text-align: center;

  @media (min-width: 600px) {
    text-align: left;
  }

  @media (min-width: 767px) {
    padding-block-end: 104px;
  }
  @media (min-width: 999px) {
    padding-block-end: 88px;
  }
  @media (min-width: 1599px) {
    padding-block-end: 156px;
  }
}
.hero-wrapper {
  display: grid;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 22px;
  }
  .hero-content {
    @media (max-width: 766px) {
      display: contents;
    }
  }
}
.hero-subtitle {
  margin-block-end: 12px;
  @media (min-width: 600px) {
    margin-block-end: 25px;
    max-width: 194px;
  }
  @media (min-width: 767px) {
    max-width: 100%;
  }
  @media (min-width: 1599px) {
    margin-block-end: 20px;
    max-width: 100%;
  }
}
.hero-title {
  margin-block-end: 20px;
  @media (min-width: 600px) {
    margin-block-end: 25px;
    max-width: 292px;
  }
  @media (min-width: 767px) {
    max-width: 254px;
  }

  @media (min-width: 800px) {
    margin-block-end: 41px;
    max-width: 428px;
  }
  @media (min-width: 1599px) {
    margin-block-end: 80px;
  }
}
.hero-img {
  margin-block-end: 30px;

  @media (min-width: 767px) {
    margin-block-end: 50px;
  }
  @media (min-width: 999px) {
    grid-row: 1 / -1;
    grid-column: 2;
    margin-block-end: 25px;
  }
  @media (min-width: 1599px) {
    margin-block-end: 45px;
  }
}
.hero-info {
  margin-block-end: 30px;
  @media (min-width: 600px) {
    max-width: 321px;
  }
  @media (min-width: 999px) {
    margin-block-end: 40px;
    max-width: 451px;
  }
  @media (min-width: 1599px) {
    margin-block-end: 50px;
    max-width: 509px;
  }
}
.hero-button {
  margin-inline: auto;
  order: 2;
  grid-column: 1 / -1;

  @media (min-width: 767px) {
    order: 0;
    grid-column: 1;
    margin-inline: 0;
  }
}
.show-on-desktop {
  display: none;

  @media (min-width: 767px) {
    display: block;
  }
}
.show-on-mobile {
  display: block;
  @media (min-width: 369px) {
    display: none;
  }
}
.show-on-laptop {
  display: none;
  @media (min-width: 369px) {
    display: block;
  }
}
.hero-text {
  @media (min-width: 767px) {
    grid-column: 1 / -1;
  }
}
/* about */
.about-wrapper {
  display: grid;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 34px;
    align-items: center;
  }

  @media (min-width: 999px) {
    column-gap: 22px;
    align-items: stretch;
  }

  @media (min-width: 1599px) {
    align-items: center;
  }
}
.about-content {
  display: contents;

  @media (min-width: 767) {
    display: block;
  }
}
.about-inner {
  order: -1;
}
.about-info {
  margin-block-end: 20px;
  font-size: clamp(
    1rem,
    0.5867456896551724rem + 0.8620689655172413vw,
    1.125rem
  );

  @media (min-width: 767px) {
    max-width: 344px;
  }
  @media (min-width: 999px) {
    max-width: 467px;
    margin-block-end: 50px;
  }
  @media (min-width: 999px) {
    max-width: 506px;
    margin-block-end: 30px;
  }
}
.about-info p:first-child {
  margin-block-end: 10px;

  @media (min-width: 999px) {
    margin-block-end: 0;
  }
}
.about-img {
  margin-block-end: 30px;

  @media (min-width: 600px) {
    order: 1;
    grid-row: 1;
    margin-block-end: 0;
  }

  @media (min-width: 999px) {
    grid-row: 1 / 3;
  }
}
.about-achievement {
  text-align: center;
  @media (min-width: 600px) {
    grid-column: 1 / -1;
  }
  @media (min-width: 999px) {
    grid-column: 2;
  }
  @media (min-width: 1599px) {
    align-self: flex-start;
  }
}
.achievement-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;

  @media (min-width: 767px) {
    column-gap: 20px;
  }
  @media (min-width: 999px) {
    column-gap: 25px;
    justify-content: space-between;
  }
  @media (min-width: 1599px) {
    column-gap: 30px;
  }
}
.achievement-title {
  margin-block-end: 20px;

  @media (min-width: 767px) {
    margin-block-end: 15px;
  }
  @media (min-width: 999px) {
    margin-block-end: 20px;
    text-align-last: left;
  }
  @media (min-width: 1599px) {
    margin-block-end: 30px;
  }
}
.achievement-item {
  color: var(--secondary-accent-color);
}
.achievement-number {
  font-size: var(--fsz-28);
  display: block;
  @media (min-width: 999px) {
    font-size: var(--fsz-36);
  }
  @media (min-width: 1599px) {
    font-size: var(--fsz-48);
  }
}
.achievement-text {
  @media (min-width: 999px) {
    font-size: var(--fsz-14);
  }
  @media (min-width: 1599px) {
    font-size: var(--fsz-18);
  }
}
/* why us */
.why-us {
  position: relative;
  z-index: 10;
  &:before {
    content: "";
    background-image: url("./src/assets/images/watering-can.svg");
    background-size: cover;
    transform: scaleX(-1);
    width: 103px;
    height: 95px;
    display: block;
    position: absolute;
    right: 0;
    top: -45px;
    z-index: -1;

    @media (min-width: 767px) {
      width: 163px;
      height: 147px;
    }
    @media (min-width: 999px) {
      width: 255px;
      height: 210px;
    }
    @media (min-width: 1599px) {
      transform: scale(1);
      left: 0;
      top: -220px;
    }
  }
  &:after {
    content: "";
    background-image: url("assets/images/leaf-bg.svg");
    background-size: cover;
    width: 119px;
    height: 149px;
    display: block;
    position: absolute;
    right: 0;
    bottom: -70px;

    @media (min-width: 767px) {
      width: 237px;
      height: 297px;
      bottom: -145px;
    }
    @media (min-width: 999px) {
      bottom: -180px;
    }
    @media (min-width: 1599px) {
      width: 435px;
      height: 506px;
      top: -150px;
    }
  }
  .section-text {
    margin-block-end: 20px;
    max-width: 300px;

    @media (min-width: 600px) {
      max-width: 399px;
    }

    @media (min-width: 999px) {
      max-width: 583px;
    }
    @media (min-width: 1599px) {
      margin-block-end: 40px;
    }
  }
}
.why-us-img {
  max-width: 170px;
  float: left;
  shape-outside: circle(50%);
  margin-inline-end: 15px;

  @media (min-width: 600px) {
    max-width: 320px;
    margin-inline-end: 98px;
  }

  @media (min-width: 999px) {
    max-width: 470px;
    margin-inline-end: 133px;
  }

  @media (min-width: 1599px) {
    max-width: 587px;
    margin-inline-end: 126px;
  }
}
.why-us-list {
  font-size: var(--fsz-14);
  counter-reset: list;

  @media (min-width: 600px) {
    font-size: var(--fsz-18);
  }
  @media (min-width: 999px) {
    font-size: var(--fsz-24);
  }
  @media (min-width: 1599px) {
    font-size: var(--fsz-28);
  }
}
.why-us-item::before {
  counter-increment: list;
  content: counter(list);
  padding-inline-end: 6px;
}
.why-us-item:not(:last-child) {
  margin-block-end: 10px;

  @media (min-width: 600px) {
    margin-block-end: 40px;
  }

  @media (min-width: 999px) {
    margin-block-end: 60px;
  }

  @media (min-width: 1599px) {
    margin-block-end: 55px;
  }
}
.why-us-content {
  clear: both;
}
